AZURE_SQL_CONNECTIONSTRING="Server=tcp:[IP_ADDRESS],1433;Initial Catalog=;Persist Security Info=False;User ID=YOUR_USER_ID;Password=[PASSWORD];MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
